<h2 style="text-align:center">Request a Ride</h2>
<br>
 <p style="text-align:center">There are no people signed up to give rides for this event, please check again later.</p>

 <div style="text-align: center;">
  <div class="styledButton">
    <%= link_to 'Back', roster_path %>
  </div>
</div>

